In [297]:
import numpy as np
import pandas as pd
import pandas as pd
#import seaborn as sns
import matplotlib.pyplot as plt
from prettytable import PrettyTable
#from sklearn import preprocessing, svm
#from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression

df = pd.read_csv('D:\Linh\WVS7.csv')

C:\Users\Administrator\AppData\Local\Temp\ipykernel_4316\481445099.py:12: DtypeWarning: Columns (345,347,349,574,575,576) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('D:\Linh\WVS7.csv')

In [298]:
# Tạo bảng dữ liệu data
dt = {
    "Year": df["A_YEAR"],
    "Gender": df["Q260"],
    "Happiness": df["Q46"],
    "Age": df["Q262"],
    "Income": df["Q288R"],
    "Marital": df["Q273"],
    "Childs": df["Q274"]
}
dt = pd.DataFrame(dt)
print(dt)

       Year  Gender  Happiness  Age  Income  Marital  Childs
0      2018       2          1   60       2        1       2
1      2018       1          1   47       3        2       0
2      2018       1          2   48       2        4       0
3      2018       2          2   62       2        2       1
4      2018       1          2   49       2        2       0
...     ...     ...        ...  ...     ...      ...     ...
94273  2022       2          2   83      -2        5      -4
94274  2022       1          1   34       2        2      -4
94275  2022       2          1   19       2        6      -4
94276  2022       2          2   19       3        6      -4
94277  2022       1          1   53       2        1      -4

[94278 rows x 7 columns]

In [299]:
# Loại bỏ các giá trị âm trong cột Income
dt = dt.loc[(dt >= 0).all(axis=1)].reset_index(drop=True)

# Tạo bảng dữ liệu male
male = dt.loc[dt['Gender'] == 1].reset_index(drop=True)
print("Male\n",male)

# Tạo bảng dữ liệu female
female = dt.loc[dt['Gender'] == 2].reset_index(drop=True)
print("\nFemale\n",female)

Male
        Year  Gender  Happiness  Age  Income  Marital  Childs
0      2018       1          1   47       3        2       0
1      2018       1          2   48       2        4       0
2      2018       1          2   49       2        2       0
3      2018       1          2   54       2        1       1
4      2018       1          1   39       3        1       2
...     ...     ...        ...  ...     ...      ...     ...
41157  2021       1          1   32       1        2       5
41158  2021       1          2   23       2        6       0
41159  2021       1          1   58       2        2       2
41160  2021       1          2   37       1        2       4
41161  2021       1          2   41       1        2       5

[41162 rows x 7 columns]

Female
        Year  Gender  Happiness  Age  Income  Marital  Childs
0      2018       2          1   60       2        1       2
1      2018       2          2   62       2        2       1
2      2018       2          1   51       2        1       3
3      2018       2          2   33       1        1       1
4      2018       2          1   40       2        6       0
...     ...     ...        ...  ...     ...      ...     ...
45710  2021       2          1   28       2        6       2
45711  2021       2          2   40       2        2       2
45712  2021       2          2   30       2        2       3
45713  2021       2          1   59       1        6       6
45714  2021       2          3   20       1        6       1

[45715 rows x 7 columns]

In [300]:
model = LogisticRegression(solver='sag')
table1 = PrettyTable()

attributes = ["Gender", "Age", "Marital", "Childs", "Income"]
r2_scores = []
table1 = PrettyTable()
for item in attributes:
    X = dt[[item]]
    y = dt["Happiness"]
    r2 = model.fit(X, y).score(X, y)
    r2_scores.append(r2)

table1.field_names = ["Thuộc tính", "R-square"]
for i, item in enumerate(attributes):
    table1.add_row([item, r2_scores[i]])
    
r2_scores.append(model.fit(dt[["Income","Marital"]], dt["Happiness"]).score(dt[["Income","Marital"]], dt["Happiness"]))
table1.add_row(["Income, Marital", r2_scores[5]])

print(table1)

+-----------------+--------------------+
|    Thuộc tính   |      R-square      |
+-----------------+--------------------+
|      Gender     | 0.5461284344533075 |
|       Age       | 0.5461284344533075 |
|     Marital     | 0.5461284344533075 |
|      Childs     | 0.5462895818225767 |
|      Income     | 0.5461284344533075 |
| Income, Marital | 0.5461284344533075 |
+-----------------+--------------------+

In [301]:
#Vẽ bảng thống kê
table2 = PrettyTable()
table2.field_names = ["", "happiness", "income", "age", "single", "married", "divorced", "widow"]

table2.add_row(["male",
               round(dt.loc[dt['Gender'] == 1, 'Happiness'].mean(), 2),
               round(dt.loc[dt['Gender'] == 1, 'Income'].mean(), 2),
               round(dt.loc[dt['Gender'] == 1, 'Age'].mean(), 2),
               str(round(dt.loc[dt['Gender'] == 1, 'Marital'].value_counts(normalize=True)[6] * 100, 2)) + '%',  #single
               str(round(dt.loc[dt['Gender'] == 1, 'Marital'].value_counts(normalize=True)[1] * 100, 2)) + '%',  #married
               str(round(dt.loc[dt['Gender'] == 1, 'Marital'].value_counts(normalize=True)[3] * 100, 2)) + '%',  #divorced
               str(round(dt.loc[dt['Gender'] == 1, 'Marital'].value_counts(normalize=True)[5] * 100, 2)) + '%']) #widow

table2.add_row(["female",
               round(dt.loc[dt['Gender'] == 2, 'Happiness'].mean(), 2),
               round(dt.loc[dt['Gender'] == 2, 'Income'].mean(), 2),
               round(dt.loc[dt['Gender'] == 2, 'Age'].mean(), 2),
               str(round(dt.loc[dt['Gender'] == 2, 'Marital'].value_counts(normalize=True)[6] * 100, 2)) + '%',  #single
               str(round(dt.loc[dt['Gender'] == 2, 'Marital'].value_counts(normalize=True)[1] * 100, 2)) + '%',  #married
               str(round(dt.loc[dt['Gender'] == 2, 'Marital'].value_counts(normalize=True)[3] * 100, 2)) + '%',  #divorced
               str(round(dt.loc[dt['Gender'] == 2, 'Marital'].value_counts(normalize=True)[5] * 100, 2)) + '%']) #widow

table2.add_row(["total",
               round(dt['Happiness'].mean(), 2),
               round(dt['Income'].mean(), 2),
               round(dt['Age'].mean(), 2),
               str(round(dt['Marital'].value_counts(normalize=True)[6] * 100, 2)) + '%',  #single
               str(round(dt['Marital'].value_counts(normalize=True)[1] * 100, 2)) + '%',  #married
               str(round(dt['Marital'].value_counts(normalize=True)[3] * 100, 2)) + '%',  #divorced
               str(round(dt['Marital'].value_counts(normalize=True)[5] * 100, 2)) + '%']) #widow
print(table2)

+--------+-----------+--------+-------+--------+---------+----------+-------+
|        | happiness | income |  age  | single | married | divorced | widow |
+--------+-----------+--------+-------+--------+---------+----------+-------+
|  male  |    1.88   |  1.86  | 43.32 | 27.01% |  57.5%  |  3.37%   | 2.53% |
| female |    1.85   |  1.83  |  42.8 | 20.71% |  54.8%  |  5.29%   | 8.38% |
| total  |    1.86   |  1.84  | 43.05 | 23.7%  |  56.08% |  4.38%   | 5.61% |
+--------+-----------+--------+-------+--------+---------+----------+-------+

In [302]:
#Bảng tỉ lệ phần trăm
per = dt.groupby(['Year', 'Gender'])['Marital'].value_counts(normalize=True) * 100
per = per.unstack(level=[0, 1]).transpose().round(2)

new_column_names = {1: 'Married', 3: 'Divorced',
                    5: 'Widow', 6: 'Single'}
per.rename(columns=new_column_names, inplace=True)
print(per.loc[:, ["Married", "Divorced", "Widow", "Single"]])
#male =1, female =2

Marital      Married  Divorced  Widow  Single
Year Gender
2017 1         49.23      6.37   4.72   28.44
     2         42.96      9.56  11.23   22.42
2018 1         60.26      2.47   2.13   26.29
     2         59.83      4.08   7.30   18.58
2019 1         63.28      2.76   2.24   26.92
     2         59.15      4.32  10.32   20.79
2020 1         57.71      2.76   1.86   27.10
     2         54.28      4.64   7.53   22.44
2021 1         47.51      3.21   2.34   35.31
     2         48.52      5.67   8.47   25.66
2022 1         54.65      7.74   4.75   21.23
     2         43.50      9.50  11.83   20.93