In [6]:
import numpy as np
import pandas as pd

df1 = pd.read_csv("book1-100k.csv")
for i in range(1, 10):
    file_name = f"book{i*100}k-{(i+1)*100}k.csv"
    df = pd.read_csv(file_name)
    globals()[f"df{i+1}"] = df
df10.head()

,Id,Name,Authors,ISBN,Rating,PublishYear,PublishMonth,PublishDay,Publisher,RatingDist5,RatingDist4,RatingDist3,RatingDist2,RatingDist1,RatingDistTotal,CountsOfReview,Language,pagesNumber,Description,Count of text reviews
0,900000,Cabinet 03: Weather,Jeffrey Kastner,1932698019,4.00,2004,2,1,Cabinet,5:0,4:2,3:0,2:0,1:0,total:2,0,NaN,112,"Artwork by Joe Amrhein, Maria Blondeel, Spence...",0
1,900001,"Workouts in a Binder for Swimmers, Triathletes...",Nick Hansen,1931382743,4.48,2005,18,11,Velo Press,5:24,4:17,3:3,2:0,1:0,total:44,2,NaN,101,This waterproof book of 100 swimming workouts ...,2
2,900002,Las 120 jornadas de Sodoma,Marquis de Sade,8472233847,3.12,1992,1,3,TusQuets,5:1745,4:2246,3:2935,2:1753,1:1408,total:10087,9,NaN,424,The 120 Days of Sodom by Marquis de Sade relat...,9
3,900004,The Traveler: An American Odyssey in the Himal...,Eric Hansen,0871563509,4.18,1995,6,6,"Random House, Inc.",5:6,4:8,3:3,2:0,1:0,total:17,1,NaN,102,This loving memorial to Swift is a moving phot...,1
4,900006,Vertical Smile,Richard Condon,0297994026,3.74,1972,20,4,Littlehampton Book Services Ltd,5:7,4:17,3:13,2:2,1:0,total:39,1,NaN,334,NaN,1

In [11]:
for i in range(1, 11):
    df_name = f"df{i}"
    print(f"Bảng dữ liệu {i} có {len(globals()[df_name].columns)} cột.")

Bảng dữ liệu 1 có 18 cột.
Bảng dữ liệu 2 có 18 cột.
Bảng dữ liệu 3 có 18 cột.
Bảng dữ liệu 4 có 18 cột.
Bảng dữ liệu 5 có 18 cột.
Bảng dữ liệu 6 có 18 cột.
Bảng dữ liệu 7 có 19 cột.
Bảng dữ liệu 8 có 20 cột.
Bảng dữ liệu 9 có 20 cột.
Bảng dữ liệu 10 có 20 cột.

In [60]:
df_list = [v for v in globals().values() if isinstance(v, pd.DataFrame)]
all_columns = set().union(*[df.columns for df in df_list])
for df_name, df in df_list:
    missing_columns = all_columns - set(df.columns)
    if missing_columns:
        print(f"\nDataframe {df_name} thiếu các cột: {missing_columns}")

ValueError: too many values to unpack (expected 2)

109